@use '../functions/shade-color';
@use '../functions/tint-color';
// # Color variables

// Set all generic or custom colors here.
// Usage example :
// ````scss
// @use "variables/color";
//
// .text {
//   color: color.$black;
//   background-color: rgba(color.$white, 0.5);
// }
// ```

// Please update, add or remove the variables below to match the project needs.
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$primary: $blue !default;
$secondary: $indigo !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$primary-200: tint-color($primary, 60%) !default;
$primary-100: tint-color($primary, 80%) !default;
$primary-300: tint-color($primary, 40%) !default;
$primary-400: tint-color($primary, 20%) !default;
$primary-500: $primary !default;
$primary-600: shade-color($primary, 20%) !default;
$primary-700: shade-color($primary, 40%) !default;
$primary-800: shade-color($primary, 60%) !default;
$primary-900: shade-color($primary, 80%) !default;

$secondary-200: tint-color($secondary, 60%) !default;
$secondary-100: tint-color($secondary, 80%) !default;
$secondary-300: tint-color($secondary, 40%) !default;
$secondary-400: tint-color($secondary, 20%) !default;
$secondary-500: $secondary !default;
$secondary-600: shade-color($secondary, 20%) !default;
$secondary-700: shade-color($secondary, 40%) !default;
$secondary-800: shade-color($secondary, 60%) !default;
$secondary-900: shade-color($secondary, 80%) !default;
